.name{
	font-size: 35px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;

}
.menu{
	padding-left: 45%;
	font-size: 28px;
	font-family: 'Salsa', cursive;
}
body{
	background: #fff;
}
.logo{
	margin-left: 2%;
}
.heading2{
	font-size: 35px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
	color: #000f34;
}
.heading4{
	font-size: 30px;
	font-family: 'Bree Serif', serif;
	font-weight: bolder;
	color: #000f34;
}
.lab{
	font-size: 25px;
	font-family: 'Bree Serif', serif;
	font-weight: bolder;
	color: #000f34;
}
.data{
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	color: #000f34;
	
}